.heartbeat-monitor {
  width: 100%;
  height: 100px;
  background: #020814;
  border: 2px solid #38bdf8;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 15px #22d3ee;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
}

.ecg-wrapper {
  position: relative;
  width: 200%;
  height: 100%;
  overflow: hidden;
}

.ecg-line {
  position: absolute;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent 0px,
    transparent 15px,
    #22d3ee 16px,
    #22d3ee 18px,
    transparent 19px,
    transparent 25px
  );
  animation: ecg-move 1.2s linear infinite;
  box-shadow: 0 0 8px #22d3ee;
}

@keyframes ecg-move {
  0% { transform: translateX(0); }
  25% { transform: translateX(-25%); }
  50% { transform: translateX(-50%); }
  75% { transform: translateX(-75%); }
  100% { transform: translateX(-100%); }
}
